<div class="page-header">
	<h1>Manage Assigned Proposals <small>for <%= @user.name %></small></h1> 
</div>
<div class="row">
	<div class="span8">
		<div id="access_alert" class="alert alert-error" style="display: none;"><strong>Oops!</strong> You're not connected to the private data! That means we cannot load Panel and Reviewer information for any proposals.</div>
		<h2>Add Proposals</h2>
		<div class="row">
			<div class="span4">
				<form class="well" id="assign_proposals">
				<input type="hidden" id="user_id" name="proposal[user_ids][]" value="<%= @user.id %>">
				<div class="control-group">
					<label>Enter one or more proposal ids (separated by commas)</label>
					<div class="controls">
						<textarea name="proposal[nsf_id]" id="proposal_nsf_id" class="input-xlarge"></textarea>
						<p class="help-block">When you're done, hit Go</p>
					</div>
				</div>
				<button type="submit" class="btn btn-primary disabled" disabled="">Please Wait...</button>
				</form>
			</div>
			<div class="span4">
				<div class="alert" id="load_help">
					<p><strong>All Assigned Proposals</strong> for this user are displayed in the list below.</p>
					<p><strong>Begin</strong> by entering one or more Proposal IDs in the box to your left and hit "Go".</p>
					<p><strong>This space</strong> will update with the processing status of your request.</p>
					<p><strong>Upon completion</strong> successfully loaded proposals will be added to the list, any errors will display here.</p>
				</div>
				<div id="loadstatus" style="display: none;">
				    <div class="alert" id="text"></div>
					<ul id="components" class="nav" style="display: none;">
						<li id="proposals"><span class="label"><i class="icon-cog icon-white"></i> <span class="status">Pending</span></span> Proposals</li>
						<li id="researchers"><span class="label"><i class="icon-cog icon-white"></i> <span class="status">Pending</span></span> Researchers</li>
						<li id="topics"><span class="label"><i class="icon-cog icon-white"></i> <span class="status">Pending</span></span> Topics</li>
						<li id="panels"><span class="label"><i class="icon-cog icon-white"></i> <span class="status">Pending</span></span> Panels</li>
						<li id="reviewers"><span class="label"><i class="icon-cog icon-white"></i> <span class="status">Pending</span></span> Reviewers</li>
						<li id="reviewerproposals"><span class="label"><i class="icon-cog icon-white"></i> <span class="status">Pending</span></span> Reviewer Proposals</li>
					</ul>
					<div id="status"></div>
				</div>
			</div>		
		</div>
	</div>
	<div class="span4">
		<ul class="nav nav-list">
	    	<li class="nav-header">About</li>
	    	<li><i class="icon-envelope"></i>Email: <%= @user.email %></li>
			<li><i class="icon-user"></i>Username: <%= @user.username %></li>
			<li><i class="icon-lock"></i>Role: <%= @user.role %></li>
			<li class="nav-header">Accessed</li>
			<li><i class="icon-calendar"></i>Created on: <%= @user.created_at %></li>
			<li><i class="icon-calendar"></i>Last Sign In: <%= @user.last_sign_in_at %></li>
			<li><i class="icon-lock"></i>Sign In Count: <%= @user.sign_in_count %></li>
			<li class="nav-header">Actions</li>
			<li><%= link_to_if(can?(:update,@user), raw("<i class='icon-pencil'></i> Edit"), edit_user_path(@user)) %></li>
			<li><%= link_to_if(can?(:delete, @user), raw("<i class='icon-remove'></i> Delete"), user_path(@user), :confirm => "Are you sure?", :method => :delete) {} %></li>
	    </ul>
	</div>
</div>


<h2>Assigned Proposals</h2>

<% if @user.proposals %>
<table class="table table-striped table-bordered table-condensed" id="proposals_table">
	<thead>
		<tr>
			<th>Proposal</th>
			<th>Title</th>
			<th>Proposal Date</th>
			<th>Award</th>
			<th>Last Viewed</th>
			<th>Panel/s (Program Officer/s)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<% end %>

<script type="text/template" id="template_proposals_index">
<td>{{nsf_id}}</td>
<td>{{title}}</td>
<td>{{date}}</td>
<td>{{amount}}</td>
<td>{{lastviewed}}</td>
<td>{{panels}}</td>
<td>{{actions}}</td>
</script>

<script type="text/Javascript">
var view = new App.Views.ShowUser({ el:$("#main")});
</script>

