<% if current_user.role?(:admin) %>
<div class="page-header">
	<h1>Listing proposals</h1>
</div>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>NSF ID</th>
    <th>Assigned To</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.nsf_id %></td>
	<td>
		<% proposal.users.each do |user| %>
			<%= "#{user.name}"%><br />
		<% end %>
	</td>
    <td><%= link_to 'Show', proposal %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to 'Destroy', proposal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_proposal_path %>
<% else %>
<div class="page-header">
	<h1>Your assigned proposals</h1>
</div>
<% if @proposals %>
<table class="table table-striped table-bordered table-condensed" id="proposals_table">
	<thead>
		<tr>
			<th>Proposal</th>
			<th>Title</th>
			<th>Proposal Date</th>
			<th>Award</th>
			<th>Last Viewed</th>
			<th>Panel/s (Program Officer/s)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<% end %>

<script type="text/template" id="template_proposals_listitem">
<td>{{nsf_id}}</td>
<td>{{title}}</td>
<td>{{date}}</td>
<td>{{amount}}</td>
<td>{{lastviewed}}</td>
<td>{{panels}}</td>
<td><a href="/proposals/{{id}}">Review</a></td>
</script>

<script type="text/Javascript">
var view = new App.Views.ListProposal({ el:$("#main")});
</script>
<% end %>