<% if can? :create, User %>
	<div class="page-header">
		<h1>Listing proposals</h1>
	</div>
	<div class="row">
		<div class="span9">
			<table class="table table-striped table-bordered table-condensed" id="proposals_table">
				<thead>
					<tr>
						<th>Proposal</th>
						<th>Title</th>
						<th>Last Viewed</th>
						<th>Assigned To</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
		<% if @proposals %>			
					<% @proposals.each do |proposal| %>
		<%
		details = ActiveSupport::JSON.decode(proposal.details)
		%>			
						<tr>
							<td><%= link_to details['nsf_id'], proposal_path(proposal) %>
							<% if can? :manage, :assignDivisionCan %> - 
								<%= link_to raw('<i class="icon-pencil"></i>Edit</a>'), edit_proposal_path(proposal) %><br />
							<% end %>
							<td><%= details['title'] %></td>
							<td></td>
							<td>
								<% proposal.users.each do |user| %>
								<%= user.name %><br />
								<% end %>
							<td>
								<%= link_to raw('<i class="icon-zoom-in"></i>Show</a>'), proposal_path(proposal), %><br />
								<a href="#" id="proposals_refresh_{{id}}"><i class="icon-refresh"></i>Refresh</a><br />
								<a href="#" id="proposals_<% if can? :destroy, Proposal %>remove<% else %>unassign<% end %>_{{id}}"><i class="icon-remove"></i>Remove</a>
							</td>
					<% end %>
		<% end %>			
				</tbody>
			</table>
		</div> <!-- span9 -->
		<div class="span3">
			<h2>Filter List</h2>
		    <form class="well">
		    	<label>Proposal ID</label>
		    	<input type="text" class="span3" placeholder="Type something…">
				<label>Assigned to:</label>
		    	<label class="checkbox">
		    		<input type="checkbox"> Auditor 1<br />
		    		<input type="checkbox"> Auditor 1<br />
		    		<input type="checkbox"> Auditor 1<br />
		    	</label>
		    	<button type="submit" class="btn">Submit</button>
		    </form>
		</div> <!-- span3 -->
	</div> <!-- row -->
	<script type="text/Javascript">
	App.views = {
		'ListProposal': { el:$("#main"), division:'<%= current_user.division %>'}
	};
	</script>
<% else %>
<div class="page-header">
	<h1>Your assigned proposals</h1>
</div>
<table class="table table-striped table-bordered table-condensed" id="proposals_table">
	<thead>
		<tr>
			<th>Proposal</th>
			<th width="200px">Title</th>
			<th>Proposal Date</th>
			<th>Award</th>
			<th>Last Viewed</th>
			<th width="200px">Panel/s (Program Officer/s)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
<% if @proposals %>			
		<% @proposals.each do |proposal| %>
<%
details = ActiveSupport::JSON.decode(proposal.details)
panels = ActiveSupport::JSON.decode(proposal.panels)
%>			
			<tr>
				<td><%= link_to details['nsf_id'], proposal_path(proposal) %>
				<td><%= details['title'] %></td>
				<td><%= details['status']['date'] %></td>
				<td><% details['status']['name']=="award"?details['awarded']['dollar'] : "(declined)"; %></td>
				<td></td>
				<td>
					<% panels.each do |panel| %>
						<%= "#{panel['nsf_id']} - #{panel['name']} (#{panel['officer']})" %>
					<% end %>
				</td>
				<td><%= link_to 'Review', proposal_path(proposal) %></td>
		<% end %>
	</tbody>
</table>
<% end %>			
<% end %>
