<% if can? :create, User %>
	<% if !@user.nil? %>
		<div class="page-header">
			<h1>Manage Assigned Proposals <small>for <%= @user.name %></small></h1> 
		</div>
		<div class="row">
			<div class="span8" id="proposal_new">
				<%= render :partial => 'shared/newproposal' %>
			</div>
			<div class="span4">
				<ul class="nav nav-list">
			    	<li class="nav-header">About</li>
			    	<li><i class="icon-envelope"></i>Email: <%= @user.email %></li>
					<li><i class="icon-user"></i>Username: <%= @user.username %></li>
					<li><i class="icon-lock"></i>Role: <%= @user.role %></li>
					<li class="nav-header">Accessed</li>
					<li><i class="icon-calendar"></i>Created on: <%= @user.created_at %></li>
					<li><i class="icon-calendar"></i>Last Sign In: <%= @user.last_sign_in_at %></li>
					<li><i class="icon-lock"></i>Sign In Count: <%= @user.sign_in_count %></li>
					<li class="nav-header">Actions</li>
					<li><%= link_to_if(can?(:update,@user), raw("<i class='icon-pencil'></i> Edit"), edit_user_path(@user)) %></li>
					<li><%= link_to_if(can?(:delete, @user), raw("<i class='icon-remove'></i> Delete"), user_path(@user), :confirm => "Are you sure?", :method => :delete) {} %></li>
			    </ul>
			</div>
		</div>
		<h2>Assigned Proposals</h2>
	<% else %>
		<div class="page-header">
			<h1>Listing proposals</h1>
		</div>
	<% end %>
<% else %>
<div class="page-header">
	<h1>Your assigned proposals</h1>
</div>
<% end %>

<%= render :partial => 'shared/listproposals' %>

<script type="text/Javascript">
//var view = new App.Views.ListProposal({ el:$("#main")});
App.view = 'ListProposal';
App.viewparams = { el:$("#main")<%= ", user_id:'#{@user.id}'" if !@user.nil? %>};
</script>
