<% if can? :create, User %>
	<div class="page-header">
		<h1>Listing proposals</h1>
	</div>
	<table class="table table-striped table-bordered table-condensed" id="proposals_table">
	</table>
	<script type="text/Javascript">
	App.views['ListProposal'] = { el:"#proposals_table", division:'<%= current_user.division %>', proposals: <%= raw(@proposal.to_json(:include => [:users, :associations])) %>, allowEdit: <%= if can? :manage, :assignDivisionCan then true else false end %>, columns: <%= if can? :manage, :assignDivisionCan then raw("{ \"title\" : { \"sWidth\": 300 }, \"division\" : { \"bVisible\": true, \"bSearchable\": true }, \"lastupdated\" : { \"bVisible\": true } }") else "{}" end %> };
	</script>
<% else %>

<div class="page-header">
	<h1>Your assigned proposals</h1>
</div>
<p>Below is a list of the Proposals that were assigned to you. To review a proposal, please click either its Proposal ID or the "Review" link in the far right column.</p>
<table class="table table-striped table-bordered table-condensed" id="proposals_table">
	<thead>
		<tr>
			<th>Proposal</th>
			<th width="200px">Title</th>
			<th>Proposal Date</th>
			<th>Award</th>
			<th>Last Viewed</th>
			<th width="200px">Panel/s (Program Officer/s)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

<% @proposal.each do |proposal| %>
<%
details = ActiveSupport::JSON.decode(proposal.details)
panels = ActiveSupport::JSON.decode(proposal.panels)
%>			
			<tr>
				<td><%= link_to details['nsf_id'], proposal_path(proposal) %>
				<td><%= details['title'] %></td>
				<td><%= details['status']['date'] %></td>
				<td><%= details['status']['name']=="award"?(details['awarded'].has_key? 'dollar')?"#{number_to_currency(details['awarded']['dollar']/1000,:precision=>0)}K":"": "(declined)"; %></td>
				<td>
					<% my_a = proposal.associations.select{|a| a.user_id == current_user.id} %>
					<% if my_a %>
					<%= "#{time_ago_in_words my_a[0].lastviewed} ago" unless my_a[0].lastviewed.nil? %>
					<% end %>
				</td>
				<td>
					<% panels.each do |panel| %>
						<%= "#{panel['nsf_id']} - #{panel['name']} (#{panel['officer']})" %><br />
					<% end %>
				</td>
				<td><%= link_to 'Review', proposal_path(proposal) %></td>
		<% end %>
	</tbody>
</table>
<% end %>			
