<% if can? :create, User %>
	<div class="page-header">
		<h1>Listing proposals</h1>
	</div>
	<div class="alert">
		<p><strong>All the loaded proposals</strong> <%= "in division #{current_user.division}" if current_user.division %> are shown here.</p>
		<p><strong>This list</strong> will help you find out which proposals have been viewed by theiar assigned auditors. You can also check out their feedback from here!</p>
		<p><strong>Use the filters</strong> to find proposals by ID, assigned user(s) or last viewed.</p>
	</div>
	<div class="row">
		<div class="span9">
			<table class="table table-striped table-bordered table-condensed" id="proposals_table">
				<thead>
					<tr>
						<th width="300px">Title</th>
						<th>Last Viewed</th>
						<th>Assigned To</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div> <!-- span9 -->
		<div class="span3">
		    <form class="well">
		    	<label>Proposal ID</label>
		    		<input type="text" class="span2" placeholder="Type something…">
				<label>Assigned to:</label>
		    	<label class="checkbox">
		    		<input type="checkbox"> Auditor 1<br />
		    		<input type="checkbox"> Auditor 1<br />
		    		<input type="checkbox"> Auditor 1<br />
		    	</label>
		    	<button type="submit" class="btn">Submit</button>
		    </form>
		</div> <!-- span3 -->
	</div> <!-- row -->
	<script type="text/template" id="template_proposals_listitem">
	<td>
		<a href="{{baseURI}}/proposals/{{id}}">{{nsf_id}}</a> - 
		{{title}}
	</td>
	<td>{{lastviewed}}</td>
	<td>{{users}}</td>
	<td>
		<a href="{{baseURI}}/proposals/{{id}}"><i class="icon-zoom-in"></i>Show</a><br />
		<% if can? :manage, :assignDivisionCan %>
			<a href="{{baseURI}}/proposals/{{id}}/edit"><i class="icon-pencil"></i>Edit</a><br />
			<% if 1==0 %>
				<a href="#" id="proposals_refresh_{{id}}"><i class="icon-refresh"></i>Refresh</a><br />
			<% end %>
			<a href="#" id="proposals_remove_{{id}}"><i class="icon-remove"></i>Remove</a>			
		<% else %>
			<a href="#" id="proposals_unassign_{{id}}"><i class="icon-remove"></i>Remove</a>
		<% end %>
	</td>
	</script>
	<script type="text/Javascript">
	App.views = {
		'ListProposal': { el:$("#proposals_table"), division:'<%= current_user.division %>'}
	};
	</script>
<% else %>

<div class="page-header">
	<h1>Your assigned proposals</h1>
</div>
<table class="table table-striped table-bordered table-condensed" id="proposals_table">
	<thead>
		<tr>
			<th>Proposal</th>
			<th width="200px">Title</th>
			<th>Proposal Date</th>
			<th>Award</th>
			<th>Last Viewed</th>
			<th width="200px">Panel/s (Program Officer/s)</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

<% @proposal.each do |proposal| %>
<%
details = ActiveSupport::JSON.decode(proposal.details)
panels = ActiveSupport::JSON.decode(proposal.panels)
%>			
			<tr>
				<td><%= link_to details['nsf_id'], proposal_path(proposal) %>
				<td><%= details['title'] %></td>
				<td><%= details['status']['date'] %></td>
				<td><% details['status']['name']=="award"?details['awarded']['dollar'] : "(declined)"; %></td>
				<td></td>
				<td>
					<% panels.each do |panel| %>
						<%= "#{panel['nsf_id']} - #{panel['name']} (#{panel['officer']})" %>
					<% end %>
				</td>
				<td><%= link_to 'Review', proposal_path(proposal) %></td>
		<% end %>
	</tbody>
</table>
<% end %>			
