<p id="notice"><%= notice %></p>

<% if can? :create, User %>
	<div class="alert well">
	<div>
		<b>Assigned to:</b>
		<% @proposal.users.each do |user| %>
			<%= "#{user.name}"%><br />
		<% end %>
	</div>
	<% if can? :editProposal, @proposal %>
		<div class="pull-right" style="margin-top: 5px">
			<ul class="nav nav-list">
    				<li class="nav-header">Actions</li>
				<li><%= link_to raw("<i class='icon-pencil'></i> Edit"), edit_proposal_path(@proposal) %></li>
			</ul>
 		</div><!-- /pull-right -->
	<% end %>
	</div><!-- /alert -->
<% end%>

<div class="page-header">
	<div>
		<h1>Proposal: ID <%= @proposal_nsf_id %>
		<% if can? :comment, Proposal %>
			<a class="btn btn-warning" href="#comment"><i class="icon-comment icon-white"></i> Comment</a>
		<% end %>
		</h1>
	</div>

	<div class="pull-right"><%= link_to 'Back to Dashboard', proposals_path %></div>
</div><!-- /page-header -->

<h2><%= @proposal_title %></h2>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab_proposal_details" data-toggle="tab">Proposal Details</a></li>
		<li><a href="#tab_panel_details" data-toggle="tab">Panel Details</a></li>
		<li><a href="#tab_reviewer_expertise" data-toggle="tab">Reviewer Expertise</a></li>
		<li><a href="#tab_reviewer_details" data-toggle="tab">Reviewer Details</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab_proposal_details"></div>
		<div class="tab-pane" id="tab_panel_details"></div>
		<div class="tab-pane" id="tab_reviewer_expertise"></div>
		<div class="tab-pane" id="tab_reviewer_details"></div>
	</div><!-- /tab-content -->
</div><!-- /tabbable -->

<script type="text/Javascript">
//var view = new App.Views.ShowProposal({ el:$("#main"), id: <%= @proposal.id %> });
  App.view = 'ShowProposal'
  App.viewparams = { el:$("#main"), id: <%= @proposal.id %> };
</script>

