<p id="notice"><%= notice %></p>
<% if current_user.role?(:admin)%>
<p>
	<b>Assigned to:</b>
	<% @proposal.users.each do |user| %>
		<%= "#{user.name}"%><br />
	<% end %>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |

<% end%>

<script type="text/template" id="template_proposals_show">
<div class="page-header">
	<h1>Proposal: ID {{id}}</h1>
	<div class="pull-right"><%= link_to 'Back', proposals_path %></div>
</div>
<h2>{{title}}</h2>
<div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#1" data-toggle="tab">Proposal Details</a></li>
<li><a href="#2" data-toggle="tab">Panel Details</a></li>
<li><a href="#3" data-toggle="tab">Reviewer Expertise</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="1">
	<p>{{abstract}}</p>
	<div class="row">
		<div class="span3">
			<table class="table table-condensed">
				<tr>{{status}}</tr>
				<tr>
					<td><strong>PGE Code</strong></td>
					<td>{{pge}}</td>
				</tr>
				<tr>
					<td><strong>Division</strong></td>
					<td>{{division}}</td>
				</tr>
				<tr>
					<td><strong>ext. link</strong></td>
					<td><a href="" target="_blank">eJacket &gt;&gt;</a/></td>
				</tr>
			</table>
		</div>
		<div class="span9">
			<table class="table table-condensed">
				<caption>Researchers</caption>
				<thead>
					<tr>
						<th>NSF ID</th>
						<th>Name</th>
						<th>Institution</th>
						<th>Department</th>
					</tr>
				</thead>
				<tbody>
					{{researchers}}
				</tbody>
			</table>
		</div>
	</div>
	<h3>Proposal Research Topics (in order)</h3>
	<p><strong>{{t1}}: {{t1_label}}</strong> {{t1_words}}</p>
	<p><strong>{{t2}}: {{t2_label}}</strong> {{t2_words}}</p>
	<p><strong>{{t3}}: {{t3_label}}</strong> {{t3_words}}</p>
	<p><strong>{{t4}}: {{t4_label}}</strong> {{t4_words}}</p>
	<h3>Methodology</h3>
</div>
<div class="tab-pane" id="2">
{{panels}}
</div>
<div class="tab-pane" id="3">
<p>Howdy, I'm in Section 3.</p>
</div>
</div>
</div>
</script>

<script type="text/template" id="template_researchers_listitem">
<tr>
	<td>{{nsf_id}}</td>
	<td>{{name}}</td>
	<td>{{inst}}</td>
	<td>{{dept}}</td>
</tr>
</script>

<script type="text/template" id="template_panels_details">
<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span2">
				<h3>Panel Summary</h3>
				<small>({{count}} panels total)</small>
			</div>
			<div class="span6">
				<select id="panelsselect">
					{{panelsselect}}
				</select>
				<div class="row">
					<div class="span3">
						<p>Program Officer: {{officer}}</p>
						<p>Division: {{division}}</p>
						<p>Program Element Code: {{pge}}</p>
						<p>Fiscal Year: {{fiscalyear}}</p>
					</div>
					<div class="span3">
						<p>Panel Proposal: {{proposals_count}}</p>
						<p>Total Panel Reviewers: {{reviewers_count}}</p>
						<p>Panel Proposals Awarded: {{proposals_awarded_count}} ({{proposals_awarded_amount}})</p>
						<p>Funding Rate: {{proposals_fundingrate}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		<h4>Reviewer Location</h4>
	</div>
</div>
<h3>Reviewer Summary</h3>
<div class="row">
	<div class="span4">
		<h4>Gender</h4>
	</div>
	<div class="span4">
		<h4>Time Since PhD</h4>
	</div>
	<div class="span4">
		<h4>Reviewer Institutions Classification</h4>
	</div>
</div>
<h3>Reviewers' Research Topics</h3>
<div class="pull-right">
	<span><strong>Show:</strong></span>
	<select id="topicrelevance">
		<option value="2">Top-2 Topics</option>
	</select>
</div>
<h5>Topics assigned to Proposals Submitted to NSF by Reviewers as PI/Co-PI since 199x</h5>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Research Topics ({{topics_count}})</th>
			<th>Reviewers' Proposal Count</th>
		</tr>
	</thead>
	<tbody>
		{{topics}}
	</tbody>
</table>
</script>

<script type="text/template" id="template_panel_topics_listitem">
<tr>
	<td><strong>{{t}} : {{label}}</strong> {{words}}</td>
	<td>{{count}}</td>
</tr>
</script>

<script type="text/Javascript">
var view = new App.Views.ShowProposal({ el:$("#main"), id: <%= @proposal.id %> });
</script>
