:plain
  <!doctype html>
  <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%html
  %head
    :plain
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type='text/javascript' src='https://www.google.com/jsapi'></script>
      <!--[if IE 9 ]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      
    - if Rails.env.production?
      :plain
        <script type="text/javascript">
         var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30514788-1']);
          _gaq.push(['_trackPageview']);
         (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
        </script>

    %title
      COV
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container.header
      .header-base
        %header
          %span.seal-pres.pull-left
            pres seal
          %span.seal-nsf.pull-right
            nsf logo
          %h1
            = link_to "Star Metrics C.O.V. Explorer", root_path

      .navbar
        .navbar-inner
          %ul.nav
            - if user_signed_in?
              - if can? :create, User
                %li.navbar-text.dropdown
                  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
                    = "#{current_user.division} " if current_user.division
                    Dashboard
                    %b.caret
                  %ul.dropdown-menu                  
                    - if !current_user.division.blank?
                      %li= link_to "Dashboard", dashboard_index_path(:anchor => "programs")
                      %li= link_to "Research Topics", research_index_path(:anchor => "topics")
                    %li= link_to "Loaded Proposals", proposals_path
                    %li.divider
                    %li= link_to "All Users", users_path
                    %li= link_to "Add User", new_user_path
              - elsif can? :read, Proposal and can? :read, Dashboard and can? :read, Research
                %li.navbar-text.dropdown
                  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
                    = "#{current_user.division} " if current_user.division
                    Dashboard
                    %b.caret
                  %ul.dropdown-menu                  
                    %li= link_to "Assigned Proposals", proposals_path
                    %li= link_to "Dashboard", dashboard_index_path(:anchor => "programs")
                    %li= link_to "Research Topics", research_index_path(:anchor => "topics")
              - elsif can? :read, Proposal
                %li= link_to "Assigned Proposals", proposals_path
              - else 
                %li{:class => controller_name == "dashboard" ? 'active': ''}= link_to "Dashboard", dashboard_index_path(:anchor => "programs")
                %li{:class => controller_name == "research" ? 'active': ''}= link_to "Research Topics", research_index_path(:anchor => "topics")
                %li.navbar-text.dropdown
                  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
                    More Tools
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to "Portfolio Explorer", "http://readidata.nitrd.gov/star/explore.php" , {:target => "_blank" }
                    %li= link_to "Expertise Locator", "http://readidata.nitrd.gov/star/locate.php" , {:target => "_blank" }
                    %li= link_to "Patents", "http://readidata.nitrd.gov/star/locate.php" , {:target => "_blank" }
            - else
              %li= link_to "Home", pages_home_path
          %ul.nav.pull-right
            - if user_signed_in?
              %li.navbar-text.dropdown
                %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
                  Welcome
                  = current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Log Out", destroy_user_session_path, :method => :delete
                  %li.divider
                  %li= link_to "Edit Profile", edit_user_path(current_user)

            %li= link_to "About", "http://readidata.nitrd.gov/star/about.php", {:target => "_blank" }
            %li= link_to "Feedback", pages_contact_path

    .container.content
      %section.round
        - flash.each do |key, value|
          .flash.alert.alert-info{ :class => key }
            = value
      .row          
        #main.span12
          = yield

:plain
  <script type="text/javascript">
  var proposalaccessallowed = false;
  var apiurl = 'http://rd-dashboard.nitrd.gov/gapi/api/';
  google.load('visualization', '1', {'packages': ['geochart','corechart']});

  require.config({
    baseUrl: baseURI+'/assets'
  });

  $(function() {
    _.templateSettings = {
      interpolate : /\{\{([^=].*?)\}\}/gim,
      evaluate    : /\{\{\=(.+?)\}\}/gim,
    };
    App.init();
  });
  </script>

%script(type="text/javascript")
  function getDivision(){
  - if user_signed_in?
    return '#{current_user.division}';
  - else
    return '';
  }

  function getFirstYear(){
  return '#{GLOBAL["app_first_year"]}';
  }

  function getStartYear(){
  return '#{GLOBAL["app_start_year"]}';
  }

  function getEndYear(){
  return '#{GLOBAL["app_end_year"]}';
  }

  function getCurrentYear(){
  return '#{GLOBAL["app_current_year"]}';
  }

  function isPrivateDataAccessAllowed(){
  return #{ can? :nsf, :privateCan };
  }
