<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>COV</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<%= stylesheet_link_tag    "application" %>	
	<%= javascript_include_tag "application" %>
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>
	
	<%= csrf_meta_tags %>
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="container header">
<header>
	<span class="seal-pres pull-left">pres seal</span>
	<span class="seal-nsf pull-right">nsf logo</span>
	<h1><a href="#">Star Metrics C.O.V. Explorer</a></h1>
</header>
<div class="navbar">
	<div class="navbar-inner">
				<ul class="nav">
					<li><%= link_to 'Home', '/pages/home' %></li>
<!--					<li><a href="#/portfolio/browse">Browse Portfolio</a></li>
					<li><a href="#/portfolio/analyze">Analyze Portfolio</a></li>-->
					<% if user_signed_in? %>
						<% if current_user.role?(:admin) %>
							<li><%= link_to 'All Users', '/users' %></li>
							<li><%= link_to 'Add User', '/users/new' %></li>
							<li><%= link_to 'Loaded Proposals', '/proposals' %></li>
						<% elsif current_user.role?(:auditor) %>
							<li><%= link_to 'Dashboard', '/proposals' %></li>						
						<% end %>
					<% end %>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li class="navbar-text">Welcome <%= current_user.name %></li>
						<li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
					<% else %>
						<li><%= link_to 'Log In', new_user_session_path %></li>
					<% end %>
					<li><%= link_to 'Contact Us', '/pages/contact' %></li>
				</ul>
	</div><!-- mnavbar-inner -->
</div><!-- /navbar -->

</div><!-- /container -->






<div class="container content">
	<section class="round">
	  <% flash.each do |key, value| %>
	    <div class="flash <%= key %> alert alert-info"><%= value %></div>
	  <% end %>
	</section>
	<div class="row"><div class="span12" id="main">
		  <%= yield %>
	</div></div><!-- /row -->
</div><!-- /container -->

<script type="text/javascript">
var proposalaccessallowed = false;
var apiurl = 'http://rd-dashboard.nitrd.gov/gapi/api.py/';

google.load('visualization', '1', {'packages': ['geochart','corechart']});

$(function() {
	_.templateSettings = {
   		interpolate : /\{\{(.+?)\}\}/g
	};
	// Check to see if we have access to nsfstarmetrics server 
	$.ajax({
		url: "http://128.150.10.70/py/api.py/access",
		dataType: 'JSONP',
		timeout: 2000,
		success: function(data) {
	//console.log(data);
			proposalaccessallowed = true;
			apiurl = "http://128.150.10.70/py/api.py/";
			google.load('visualization', '1', {'packages': ['geochart'], 'callback': App.init});			
	        //App.init();
		},
		error: function(x,t,m) {
	//alert('error');
	//alert(t);
			//set alert
			$('#access_alert').show(); //if this is available it will be shown
			/*google.load('visualization', '1', {'packages': ['geochart']});			
			google.setOnLoadCallback(function() {
			    App.init();
			});*/
  			App.init();
		}
	});
});
</script>


</body>
</html>