:plain
  <!doctype html>
  <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

%html
  %head
    :plain
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type='text/javascript' src='https://www.google.com/jsapi'></script>
      <!--[if IE 9 ]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    %title
      COV
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container.header
      %header
        %span.seal-pres.pull-left
          pres seal
        %span.seal-nsf.pull-right
          nsf logo
        %h1
          = link_to "Star Metrics C.O.V. Explorer", root_path

      .navbar
        .navbar-inner
          %ul.nav
            %li= link_to "Home", pages_home_path
            - if user_signed_in?
              - if current_user.role?(:admin) or current_user.role?(:su)
                %li= link_to "All Users", users_path
                %li= link_to "Add User", new_user_path
                %li= link_to "Loaded Proposals", proposals_path
              - elsif current_user.role?(:auditor)
                %li= link_to "Dashboard", proposals_path
          %ul.nav.pull-right
            - if user_signed_in?
              %li.navbar-text
                Welcome
                = current_user.name
              %li= link_to "Log Out", destroy_user_session_path, :method => :delete
            - else
              %li= link_to "Log In", new_user_session_path, :method => :post
            %li= link_to "Contact Us", pages_contact_path

    .container.content
      %section.round
        - flash.each do |key, value|
          .flash.alert.alert-info{ :class => key }
            = value
      .row          
        #main.span12
          = yield

:plain
  <script type="text/javascript">
  var proposalaccessallowed = false;
  var apiurl = 'http://rd-dashboard.nitrd.gov/gapi/api/';
  google.load('visualization', '1', {'packages': ['geochart','corechart']});

  $(function() {
    _.templateSettings = {
      interpolate : /\{\{(.+?)\}\}/g
    };
    // Check to see if we have access to nsfstarmetrics server 
    $.ajax({
      url: "http://128.150.10.70/py/api/access",
      dataType: 'JSONP',
      timeout: 500,
      success: function(data) {
        //console.log(data);
        proposalaccessallowed = true;
        apiurl = "http://128.150.10.70/py/api/";
        App.init();
      },
      error: function(x,t,m) {
        //alert('error');
        //alert(t);
        //set alert
        $('#access_alert').show(); //if this is available it will be shown
        App.init(); 
      }
    });
  });
  </script>
